In [2]:
# Q1. ) Create a python program to sort the given list of tuples based on integer value using a
# lambda function.
# [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [9]:
# Ans. 1)

In [6]:
lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_lst = sorted(lst, key = lambda x: x[1])

print(sorted_lst)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [7]:
# Q2. ) Write a Python Program to find the squares of all the numbers in the given list of integers using
# lambda and map functions.
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# Ans. 2)

In [13]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_lst = list(map(lambda x : x**2, lst))

print(new_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
# lambda functions
# Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [15]:
# Ans. 3)

In [29]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

output = tuple(map(lambda x : str(lst[x]), range(len(lst))))

print(output)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [31]:
# Q4. Write a python program using reduce function to compute the product of a list containing numbers
# from 1 to 25.

In [ ]:
# Ans. 4)

In [36]:
lst1 = []
for i in range (1,26) :
    lst1.append(i)

from functools import reduce

reduce(lambda x, y : x*y, lst1)

15511210043330985984000000

In [37]:
# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
# filter function.
# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [38]:
# Ans. 5)

In [41]:
lst1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

numb = list(filter(lambda x : (x%2 == 0 and x%3 == 0), lst1))

print(numb)

[6, 60, 90, 120]

In [42]:
# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
# function.
# ['python', 'php', 'aba', 'radar', 'level']

In [43]:
# Ans. 6)

In [48]:
lst1 = ['python', 'php', 'aba', 'radar', 'level']

lst2 = list(filter(lambda x : x == x[::-1] , lst1))

print(lst2)

['php', 'aba', 'radar', 'level']